body {
    margin: 0;
    background: #0e0e0e;
    font-family: Arial, sans-serif;
    color: white;
}

.app {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background: #2f80ed;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1c5ed6;
}